@import url('./vendor/normalize.css');
@import url('./fonts/fonts.css');
@import url('./blocks/page.css');
@import url('./blocks/header.css');
@import url('./blocks/nav.css');
@import url('./blocks/about.css');
@import url('./blocks/products.css');
@import url('./blocks/stay.css');
@import url('./blocks/gallery.css');
@import url('./blocks/footer.css');
