.about {
  max-width: 100%;
  display: flex;
  position: relative;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding-top: 63px;
  padding-left: 80px;
  padding-bottom: 51px;
}

.about__title {
  margin: 0;
  font-weight: 400;
  font-size: 44px;
  line-height: 51px;
}

.about__title-span {
  color: #5d39aa;
}

.about__text {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 132.4%;
  max-width: 861px;
}

.about__image {
  position: absolute;
  top: 30px;
  right: 0;
  width: 633.56px;
  height: 374px;
}

@media screen and (max-width: 1200px) {
  .about__text {
    font-size: 20px;
    max-width: 600px;
  }
  .about__image {
    width: 380.56px;
    height: 300px;
    top: 100px;
  }
}

@media screen and (max-width: 850px) {
  .about {
    flex-direction: column;
  }

  .about__content {
    margin: 0 auto;
    text-align: center;
    padding: 29px 0px 230px 0px;
    gap: 16px;
  }

  .about__text {
    padding-bottom: 80px;
  }

  .about__image {
    top: 310px;
    right: 30%;
  }
}

@media screen and (max-width: 700px) {
  .about__title {
    font-size: 32px;
    line-height: 37px;
  }

  .about__text {
    max-width: 327px;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 0;
  }

  .about__image {
    width: 287px;
    height: 234px;
    top: 385px;
    right: 88px;
  }
}
