.about {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  z-index: 0;
}

.about:before {
  content: "";
  background: url("../images/lavender-field.jpeg") no-repeat center/cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.about__container {
  min-height: 740px;
  padding-top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 32px;
  z-index: 1;
}

.about__heading {
  margin: 0;
  font-family: "Arima", cursive, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 80px;
}

.about__heading-color {
  color: rgb(118, 5, 114);
  font-family: "Amatic SC", cursive;
}

.about__discprition {
  margin: 0;
  font-family: "Arima", cursive, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 50px;
}
