.gallery {
  margin-top: 53px;
  max-width: 100%;
  background: #999999;
}

.gallery__text-container {
  padding-top: 66px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 57px;
}

.gallery__title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #fdfffd;
}

.gallery__span {
  color: #5d39aa;
}

.gallery__description {
  margin: 0;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  max-width: 976px;
  color: #fdfffd;
}

.gallery__slideshow-container {
  padding-top: 86px;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.gallery__slideshow {
  padding: 0;
  margin: auto;
  list-style-type: none;
  z-index: -1;
}

.gallery__slideshow-dots {
  position: absolute;
  top: 20%;
  left: 40%;
  z-index: 1;
}

.gallery__slideshow-dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.gallery__slideshow-dot:hover {
  background-color: #8c7fc2;
}

.gallery__slideshow-slide {
  display: none;
}

.gallery__slideshow-image {
  width: 100%;
  height: 489px;
  object-fit: cover;
}

.gallery__slideshow-prev,
.gallery__slideshow-next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: 22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 32px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 0;
}

.gallery__slideshow-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.gallery__slideshow-prev:hover,
.gallery__slideshow-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 700px) {
  .gallery {
    margin-top: 47px;
  }

  .gallery__text-container {
    padding-top: 44px;
    gap: 23px;
  }

  .gallery__title {
    font-size: 32px;
    line-height: 37px;
  }

  .gallery__description {
    font-size: 24px;
    line-height: 28px;
    max-width: 283px;
  }

  .gallery__slideshow-dots {
    left: 30%;
  }
}
