.header {
  max-width: 1440px;
  background: url('../images/main-homepage.png') no-repeat center/cover;
}

.header__title {
  margin: 0;
  padding-top: 53.6px;
  padding-left: 50px;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 0.175em;
  text-shadow: -2px 2px 6px rgba(0, 0, 0, 0.25);
}

.header__subtitle {
  margin: 0;
  padding-top: 15px;
  padding-left: 50px;
  font-size: 44px;
  line-height: 130.5%;
  text-shadow: -2px 2px 6px rgba(0, 0, 0, 0.4);
  max-width: 864px;
  padding-bottom: 455px;
}

@media screen and (max-width: 600px) {
  .header {
    max-width: 100%;
  }

  .header__logo {
    width: 85px;
    height: 61.69px;
  }

  .header__title {
    max-width: 273px;
    padding-top: 159px;
    padding-left: 17px;
    font-size: 44px;
    line-height: 51px;
    letter-spacing: 0;
    color: #fdfffd;
  }

  .header__subtitle {
    max-width: 317px;
    font-size: 24px;
    line-height: 28px;
    padding: 5px 0px 158px 17px;
    color: #fdfffd;
  }
}
