.products {
  max-width: 100%;
  position: relative;
}

.products__grid {
  max-width: 100%;
  height: 390px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 180px 150px;
  grid-gap: 14px;
}

.products__grid-image {
  width: 100%;
  height: 100%;
  max-height: 390px;
  object-fit: cover;
}

.products__grid-item:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1;
}

.products__grid-item:nth-child(2) {
  grid-column: 1 / 3;
  grid-row: 2;
}

.products__grid-item:nth-child(3) {
  grid-column: 3;
  grid-row: 1 / -1;
}

.products__grid-item:nth-child(4) {
  grid-column: 4;
  grid-row: 1;
}

.products__grid-item:nth-child(5) {
  grid-column: 4;
  grid-row: 2;
}

.products__grid-item:nth-child(6) {
  grid-column: 5 / 7;
  grid-row: 1;
}

.products__grid-item:nth-child(7) {
  grid-column: 5;
  grid-row: 2;
}

.products__grid-item:nth-child(8) {
  grid-column: 6;
  grid-row: 2;
}

.products__grid-item:nth-child(9) {
  grid-column: 7;
  grid-row: 1 / -1;
}

.products__grid-item:nth-child(10) {
  grid-column: 8 / 10;
  grid-row: 1;
}

.products__grid-item:nth-child(11) {
  grid-column: 8 / 10;
  grid-row: 2;
}

.products__content-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.products__text {
  display: flex;
  flex-direction: column;
}

.products__title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 37px;
  text-align: center;
  padding-top: 89px;
  padding-left: 50px;
}

.products__span {
  color: #5d39aa;
}

.products__description {
  margin: 0;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  padding-top: 41px;
  padding-left: 60px;
  max-width: 809px;
}

.products__buttons {
  display: flex;
  justify-content: space-between;
  max-width: 633.61px;
  padding-top: 63px;
  padding-left: 149px;
}

.products__button-more {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 28.3415px;
  line-height: 35px;
  text-decoration: none;
  border: 2.5765px solid #675e8f;
  filter: drop-shadow(-2.5765px 2.5765px 10.306px rgba(0, 0, 0, 0.25));
  border-radius: 6.44124px;
  color: #675e8f;
  padding: 15.11px 71px 15.11px 71px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.products__button-more:hover {
  border: 2.5765px solid #666666;
  color: #666666;
}

.products__button-buy {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 28.3415px;
  line-height: 35px;
  text-decoration: none;
  background: #4e4675;
  filter: drop-shadow(-2.5765px 2.5765px 10.306px rgba(0, 0, 0, 0.25));
  border-radius: 6.44124px;
  color: #eff1ef;
  padding: 15.11px 75.3px 15.11px 75.3px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.products__button-buy:hover {
  background: #666666;
}

.products__image {
  max-width: 494px;
  width: 100%;
  height: 494px;
}

@media screen and (max-width: 600px) {
  .products__grid {
    display: none;
  }

  .products__content-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .products__title {
    font-size: 44px;
    line-height: 51px;
    max-width: 320px;
    padding: 0;
  }
  .products__description {
    padding-top: 44px;
    padding-left: 0;
    font-size: 24px;
    line-height: 28px;
    max-width: 288px;
  }

  .products__image {
    max-width: 355px;
    width: 100%;
    height: 355px;
    padding: 0;
    position: absolute;
    top: 478px;
    right: 2px;
  }

  .products__buttons {
    flex-direction: column;
    justify-content: center;
    padding-top: 462px;
    padding-left: 0;
    max-width: 331px;
    gap: 29px;
  }

  .products__button-more {
    padding: 13.5px 100.5px;
    font-size: 24.7988px;
    line-height: 30px;
  }

  .products__button-buy {
    padding: 14.5px 111px;
    font-size: 23.5516px;
    line-height: 29px;
  }
}
