.stay {
  margin-top: 121px;
  max-width: 100%;
}

.stay__slideshow-container {
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.stay__slideshow {
  padding: 0;
  margin: auto;
  list-style-type: none;
  z-index: -1;
}

.stay__slideshow-dots {
  text-align: center;
  padding-top: 15px;
}

.stay__slideshow-dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.stay__slideshow-dot:hover {
  background-color: #8c7fc2;
}

.stay__slideshow-slide {
  display: none;
}

.stay__slideshow-image {
  width: 100%;
  height: 382px;
  object-fit: cover;
}

.stay__slideshow-prev,
.stay__slideshow-next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  margin-top: 22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 32px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 0;
}

.stay__slideshow-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.stay__slideshow-prev:hover,
.stay__slideshow-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.stay__content {
  display: flex;
  justify-content: space-between;
}

.stay__text {
  display: flex;
  flex-direction: column;
  padding-top: 68px;
  padding-left: 65px;
  gap: 24px;
}

.stay__title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}

.stay__span {
  color: #5d39aa;
}

.stay__descriptions {
  margin: 0;
  font-size: 32px;
  line-height: 37px;
  max-width: 922px;
}

.stay__buttons {
  display: flex;
  flex-direction: column;
  gap: 31px;
  padding-top: 147px;
  padding-right: 75px;
}

.stay__buttons-learn {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 28.3415px;
  line-height: 35px;
  text-decoration: none;
  border: 2.5765px solid #675e8f;
  filter: drop-shadow(-2.5765px 2.5765px 10.306px rgba(0, 0, 0, 0.25));
  border-radius: 6.44124px;
  color: #675e8f;
  padding: 17.5px 63.5px 17.5px 63.5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.stay__buttons-learn:hover {
  border: 2.5765px solid #666666;
  color: #666666;
}

.stay__buttons-book {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 28.3415px;
  line-height: 35px;
  text-decoration: none;
  background: #4e4675;
  filter: drop-shadow(-2.5765px 2.5765px 10.306px rgba(0, 0, 0, 0.25));
  border-radius: 6.44124px;
  color: #eff1ef;
  padding: 17.5px 72px 17.5px 72px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.stay__buttons-book:hover {
  background: #666666;
}

@media screen and (max-width: 1100px) {
  .stay__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .stay__text {
    padding-left: 0;
    max-width: 690px;
  }

  .stay__title {
    text-align: center;
  }

  .stay__descriptions {
    text-align: center;
  }

  .stay__buttons {
    max-width: 316px;
    padding-top: 48px;
    padding-right: 0;
    gap: 38px;
  }

  .stay__buttons-learn {
    padding: 15.5px 80.5px;
    font-size: 25.1115px;
    line-height: 31px;
  }

  .stay__buttons-book {
    font-size: 25.1115px;
    line-height: 31px;
    padding: 15.5px 92px;
  }
}

@media screen and (max-width: 700px) {
  .stay {
    margin-top: 55px;
  }

  .stay__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .stay__text {
    padding-top: 47px;
    padding-left: 0;
    gap: 25px;
  }
  .stay__title {
    font-size: 44px;
    line-height: 51px;
  }
  .stay__descriptions {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    max-width: 317px;
  }
}
