@font-face {
  font-family: "Amatic SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./AmaticSC-Regular.ttf");
}

@font-face {
  font-family: "Arima";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./Arima-Light.ttf");
}

@font-face {
  font-family: "Arima";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Arima-Regular.ttf");
}

@font-face {
  font-family: "Arima";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./Arima-Medium.ttf");
}

@font-face {
  font-family: "Arima";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./Arima-Bold.ttf");
}
