.stay {
  max-width: 100%;
  margin-top: 120px;
}

.stay__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stay__heading {
  margin: 0;
  font-family: "Arima", cursive, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 72px;
}

.stay__discprition {
  margin: 0;
  font-family: "Arima", cursive, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 45px;
  padding-top: 12px;
  padding-bottom: 30px;
}

.stay__image {
  max-width: 800px;
  width: 100%;
  border-radius: 20%;
  box-sizing: border-box;
  border: 10px double rgb(226, 211, 236);
}

.stay__buttons-container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.stay__button {
  margin: 0;
  font-family: "Amatic SC", cursive;
  background-color: rgb(118, 5, 114);
  color: lavenderblush;
  margin: 0;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 26px;
  padding-right: 26px;
  box-sizing: border-box;
  border: none;
  border-radius: 20%;
  font-weight: 400;
  font-size: 17px;
  line-height: 35px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.stay__button-airbnb {
  padding-left: 40px;
  padding-right: 40px;
}

.stay__button:hover {
  color: white;
  background-color: indigo;
}
