.nav {
  padding-top: 5.2rem;
  padding-right: 10.7rem;
}

.nav__list {
  padding: 0;
  width: 22.1rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav__link:link,
.nav__link:visited {
  text-decoration: none;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #000000;
  text-shadow: -2px 2px 6px rgba(0, 0, 0, 0.25);
  transition: color 0.2s;
}

.nav__link:hover {
  color: #8c7fc2;
}

.nav__button {
  visibility: hidden;
  z-index: 3;
  right: 35px;
  top: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.nav__button .nav__button-line {
  width: 36.06px;
  height: 2px;
  margin: 0 0 8px 0;
  background: black;
  transition: all 0.5s ease-out;
  border-radius: 2px;
}

.nav__button-line:hover {
  background: rgb(205, 69, 205);
  opacity: 0.6;
}

.nav__button_active {
  transform: rotate(180deg);
}

.nav__button_active .nav__button-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.nav__button_active .nav__button-line:nth-child(2) {
  opacity: 0;
}

.nav__button_active .nav__button-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}
