.page {
  position: relative;
  max-width: 100vw;
  margin: auto;
  font-family: 'Poiret One', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: #000000;
  background: #fff7ed 100vw;
  -webkit-background-size: 100vw;
  -moz-background-size: 100vw;
  -o-background-size: 100vw;
  background-size: 100vw;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background-color: #5d39aa;
  color: #fdfffd;
}
