.btn:link,
.btn:visited {
  position: relative;
  text-decoration: none;
  border-radius: 1.16448rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.8rem;
  cursor: pointer;
  transition: all 0.2s linear;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  filter: drop-shadow(-2px 2px 8px rgba(0, 0, 0, 0.25));
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  border: 3px solid #666666;
  color: #666666;
}

.btn:active,
.btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.btn--booking {
  border: 3px solid #675e8f;
  color: #675e8f;
  padding: 2rem 12.1rem 2rem 7.4rem;
}

.btn__icon-booking {
  height: 3.536rem;
  position: absolute;
  top: 2rem;
  right: 7.4rem;
}

.btn--airbnb {
  background: #675e8f;
  color: #fdfffd;
  padding: 2rem 11.799rem 2rem 7.4rem;
}

.btn__icon-airbnb {
  height: 3.289rem;
  position: absolute;
  top: 2rem;
  right: 7.4rem;
}

.btn--airbnb:hover {
  border: none;
  background: #666666;
  color: #fdfffd;
}

.btn--bookabatch {
  border: 3px solid #78836d;
  color: #78836d;
  padding: 2rem 7.4rem;
}

@media only screen and (max-width: 75em) {
  .btn:link,
  .btn:visited {
    font-size: 2.56661rem;
    line-height: 3rem;
  }
  .btn--booking {
    padding: 2rem 13.728rem 2rem 10.5rem;
  }

  .btn__icon-booking {
    top: 2.3rem;
    right: 9rem;
  }

  .btn--airbnb {
    padding: 2rem 15.528rem 2rem 12rem;
  }

  .btn__icon-airbnb {
    right: 11rem;
  }

  .btn--bookabatch {
    padding: 2rem 9.2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .btn--booking {
    padding: 1.2rem 11.28rem 1.2rem 8rem;
  }

  .btn__icon-booking {
    top: 1.3rem;
    right: 7rem;
  }

  .btn--airbnb {
    padding: 1.5rem 12.8rem 1.5rem 9rem;
  }

  .btn__icon-airbnb {
    top: 1.3rem;
    right: 8rem;
  }

  .btn--bookabatch {
    padding: 1.2rem 7rem;
  }
}
