.nav {
  position: relative;
  padding-top: 5.2rem;
  padding-right: 10.7rem;
}

.nav__list {
  padding: 0;
  width: 22.1rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav__link:link,
.nav__link:visited {
  text-decoration: none;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #000000;
  text-shadow: -2px 2px 6px rgba(0, 0, 0, 0.25);
  transition: color 0.2s;
}

.nav__link:hover {
  color: #8c7fc2;
}

@media only screen and (max-width: 54.68em) {
  .nav {
    padding-right: 4rem;
  }
}

@media only screen and (max-width: 38.125em) {
  .nav {
    padding-top: 3.2rem;
    padding-right: 2rem;
  }

  .nav__list {
    width: 18rem;
  }

  .nav__link:link,
  .nav__link:visited {
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 1.6rem;
    color: #000000;
    text-shadow: -2px 2px 6px rgba(0, 0, 0, 0.25);
    transition: color 0.2s;
  }
}
