.page {
  position: relative;
  max-width: 100vw;
  margin: auto;
  font-family: 'Poiret One', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: #000000;
  background: #fff7ed 100vw;
  -webkit-background-size: 100vw;
  -moz-background-size: 100vw;
  -o-background-size: 100vw;
  background-size: 100vw;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}
